.games-container>*{
    margin-bottom: 10px;
}

.game-container{
    height: 40vh;
    background-color: blue;
    color: white;
    border-radius: 8px;
}

.game{
    width: 70%;
    height: 68%;
    color: black;
    background-color: yellow;
    border-radius: 12px;
    position: relative;
}
.game>* :not("row"){
    margin: 2%;
}

.exit{
    position: absolute;
    top: 4px;
    right: 4px;
    border-radius: 8px;
}